#####################################################################
#   Extruder
#####################################################################

##  Connected to MOTOR_6
##  Heater - HE0
##  Thermistor - T0
[extruder]
step_pin: SB2040:E_STEP
dir_pin: !SB2040:E_DIR
enable_pin: !SB2040:E_ENABLE
#BMG Gear Ratio
# new_rd = previous_rd * mesured_distance / requested_distance
rotation_distance: 21.98951099   #Bondtech 5mm Drive Gears
gear_ratio: 50:10               #BMG Gear Ratio for CW2
microsteps: 16
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree

nozzle_diameter: 0.400
filament_diameter: 1.75

heater_pin: SB2040:E_HEATER
##  Validate the following thermistor type to make sure it is correct
##  See https://www.klipper3d.org/Config_Reference.html#common-thermistors for additional options
sensor_type: Generic 3950 ;"NTC 100K beta 3950"
sensor_pin: SB2040:E_TEMP
#spi_speed: 4000000
#spi_software_sclk_pin: EXP2_2 #EXP2_2
#spi_software_mosi_pin: EXP2_6 #EXP2_6
#spi_software_miso_pin: EXP2_1 #EXP2_1
#rtd_use_50Hz_filter: False
#rtd_nominal_r: 1000
#rtd_reference_r: 4300
#rtd_num_of_wires: 2

min_temp: 5
max_temp: 300
max_power: 1.0
min_extrude_temp: 172
##  Try to keep pressure_advance below 1.0
pressure_advance: 0.040
##  Default is 0.040, leave stock
pressure_advance_smooth_time: 0.040
max_extrude_only_distance: 200.0
max_extrude_cross_section: 5

##  E0 on MOTOR6
##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 extruder]
uart_pin: SB2040:E_TMCUART
interpolate: false
run_current: 0.475
#hold_current: 0.40
sense_resistor: 0.110
stealthchop_threshold: 0